body{
  background-color: bisque;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

#chessboard{
  border: 10px solid rgb(88, 64, 36);
  border-radius: 10px;
  border-spacing: 1px !important;
  background-color: rgb(255, 178, 85);
}

#chessboard tr td{
  width: 60px;
  height: 60px;
  border: 1px solid rgb(88, 64, 36);
}

.black{
  background-color: rgb(88, 64, 36);
}

.white{
  background-color: rgb(255, 220, 176);
}

.block-selected{
  box-shadow: inset 0px 0px 400px 110px rgba(255, 54, 54, 0.342);
}
